/*======================================
//--//-->   GENERAL STYLES
======================================*/

body {
  background-color: #f5f5f5;
  color: #4e4e4e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1e1e1e;
}

a {
  color: #1e1e1e;
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: #0078ff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.p-r {
  position: relative;
}

.color-a {
  color: #0078ff;
}

.color-d {
  color: #f5f5f5;
}

.color-text-a {
  color: #4e4e4e;
}

.box-shadow,
.paralax-mf,
.service-box,
.work-box,
.card-blog {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.box-shadow-a,
.button:hover {
  box-shadow: 0 0 0 4px #cde1f8;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.display-6 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: 4px;
  overflow: hidden;
}

.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.overlay-mf {
  background-color: #0078ff;
}

.overlay-mf {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .7;
}

.paralax-mf {
  position: relative;
  padding: 8rem 0;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.page-title {
  text-align: center;
  text-transform: uppercase;
  color: #1B1B1B;
  font-weight: 600;
  font-size: 44px;
}

.page {
  padding-top: 100px;
	padding-bottom: 5px;
}

.page-white {
  background-color: white;
}

.extra-bottom-padding {
  padding-bottom: 100px;
}

/*======================================
//--//-->   NAVIGATION
======================================*/
.navbar-b {
  transition: all .5s ease-in-out;
  background-color: transparent;
  padding-top: 1.563rem;
  padding-bottom: 1.563rem;
}

.navbar-b.navbar-reduce {
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

.navbar-b.navbar-trans .nav-item,
.navbar-b.navbar-reduce .nav-item {
  position: relative;
  padding-right: 5px;
  padding-left: 0;
}

.navbar-b.navbar-trans .nav-link,
.navbar-b.navbar-reduce .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar-b.navbar-trans .nav-link:before,
.navbar-b.navbar-reduce .nav-link:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  transform: scale(0.9);
  transition: .3s;
}

.navbar-b.navbar-trans .nav-link:hover,
.navbar-b.navbar-reduce .nav-link:hover {
  color: whitesmoke;
  text-shadow: 0 0 15px whitesmoke;
  transform: translate(0, -5px);
}

.navbar-b.navbar-trans .nav-link:hover:before,
.navbar-b.navbar-reduce .nav-link:hover:before {
  filter: blur(3px);
  transform: scale(1.2);
  box-shadow: 0 0 15px whitesmoke;
}

.navbar-b.navbar-trans .nav-link:before {
  background-color: #fff;
}

.navbar-b.navbar-trans .nav-link:hover {
  color: #fff;
}

.navbar-b.navbar-trans .show > .nav-link,
.navbar-b.navbar-trans .active > .nav-link,
.navbar-b.navbar-trans .nav-link.show,
.navbar-b.navbar-trans .nav-link.active {
  color: #fff;
}

.navbar-b.navbar-reduce {
  transition: all .5s ease-in-out;
  background-color: #1b1b1b;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-b.navbar-reduce .nav-link {
  color: #fff;;
}

.navbar-b.navbar-reduce .nav-link:before {
  background-color: #fff;
}

.navbar-b.navbar-reduce .nav-link:hover {
  color: #fff;
}

.navbar-b.navbar-reduce .show > .nav-link,
.navbar-b.navbar-reduce .active > .nav-link,
.navbar-b.navbar-reduce .nav-link.show,
.navbar-b.navbar-reduce .nav-link.active {
  color: #fff;
}

.navbar-b.navbar-reduce .navbar-brand {
  color: #fff;
}

.navbar-b.navbar-reduce .navbar-toggler span {
  background-color: #1B1B1B;
}

.navbar-b .navbar-brand {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}

.navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
.navbar-b .dropdown.show .dropdown-menu,
.navbar-b .dropdown-btn.show .dropdown-menu {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  visibility: visible !important;
}

.navbar-b .dropdown-menu {
  margin: 1.12rem 0 0;
  border-radius: 0;
  background-color: #1b1b1b;
}

.navbar-b .dropdown-menu .dropdown-item {
  padding: .7rem 1.7rem;
  transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item:hover {
  background-color: #0078ff;
  color: #fff;
  transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item.active {
  background-color: #0078ff;
}

.navbar-b.navbar-trans .nav-item,
.navbar-b.navbar-reduce .nav-item {
  padding-left: 10px;
}

.navbar-b.navbar-trans .nav-link:before,
.navbar-b.navbar-reduce .nav-link:before {
  margin-left: 18px;
}

#navbarDefault.ncl {
  background-color: tomato;
}
#navbarDefault {
  background-color: transparent;
}
*/
/*--/ Hamburger Navbar /--*/
.navbar-toggler {
  position: relative;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: -webkit-transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}

/*======================================
//--//-->   HOME
======================================*/

.home {
  height: 100vh;
  position: relative;
  color: #fff;
  background-image: url(assets/home_bg.jpg)
}

.home .home-content {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .85;
}

.home .overlay-home {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .9;
}

.home .home-title {
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
}

.home .home-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
}

.home .text-slider-items {
  display: none;
}

.home-single {
  height: 350px;
}

.home-single .home-content {
  margin-top: 30px;
}

.home-single .home-title {
  text-transform: uppercase;
  font-size: 3rem;
}

.home-single .breadcrumb {
  background-color: transparent;
  color: #0078ff;
}

.home-single .breadcrumb .breadcrumb-item:before {
  color: #cde1f8;
}

.home-single .breadcrumb .breadcrumb-item.active {
  color: #cde1f8;
}

.home-single .breadcrumb a {
  color: #fff;
}

.social-icon{
  margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon ul {
  display: flex;
}

.social-icon ul li {
  list-style-type: none;
}

.social-icon ul li a {
  display: block;
  cursor: pointer;
  position: relative;
  color: white;
  background: #000000;
  border-radius: 50%;
  font-size: 20px;
  line-height: 40px;
  height: 40px;
  width: 40px;
  text-align: center;
  margin: 5px 2px;
  transition: .3s;
}

.social-icon ul li a:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0.9);
  transition: .3s;
}

.social-icon ul li a:hover:before {
  filter: blur(3px);
  transform: scale(1.2);
  box-shadow: 0 0 15px whitesmoke;
}

.social-icon ul li a:hover {
  color: whitesmoke;
  box-shadow: 0 0 15px whitesmoke;
  text-shadow: 0 0 15px whitesmoke;
  transform: translate(0, -5px);
}

/*======================================
//--//-->   ABOUT
======================================*/

@media screen and (max-width: 991px){
  .about-image{
   text-align: center;
 }
}

.gutters-80.row{
  margin-right: -40px;
  margin-left: -40px;
  margin-top: 50px;
}

.gutters-80 > [class^="col-"], .gutters-80 > [class^="col-"]{
  padding-right: 40px;
  padding-left: 40px;
}

.about-image {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.about-content {
  
}

.about-description {
  font-size: 16px;
  padding-bottom: 25px;
  border-bottom: 1px #C1C1C1 dashed;
  display: block;
}

.about-bio{
  font-size: 16px;
  color: #636262;
}

.about-bio strong{
  font-size: 15px;
  color: #2c4055;
}

.img-shadow {
    background-color: #fff;
    z-index: 2;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 7px 0 rgba(0, 0, 0, 0.6);
}

.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.about-button {
  width: 160px;
}

.about-skills {
  margin-top: 10px;
}

.skill-box {
  display: inline-block;
  padding: 0.25em 0.4em;
  color: #212529;
  background-color: #e4e4e4;
  font-size: 85%;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  margin: 5px;;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.skill-box1 {
  list-style: none;
  
  padding-left: 20px;
}

.skill-box2 {
  border-right: 1px #C1C1C1 dashed;
  margin: 0;
}

.skill-border {
  border: 1px solid #000000;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 10px;
}

/*======================================
//--//-->   SERVICES
======================================*/
.gray-page {
  background-color: #f5f5f5;
}

.service-box {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  height: 260px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}

.service-label {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*======================================
//--//-->   BLOG
======================================*/

.blog-box {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}

.blog-img {
  display: block;
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

/*======================================
//--//-->   FOOTER
======================================*/
.page-footer,.top-nav-collapse {
  background-color:#16181b;
  bottom: 0;
  color: #fff;
  padding-top: 50px;
}

.footer-copyright {
  overflow: hidden;
  color: rgba(255,255,255,0.6);
  background-color:  #16181b;;
}

footer.page-footer a {
  color: #fff;
}

.mb-4, .my-4 {
  margin-bottom: 1.0rem!important;
}

.footer-line {
  border: 0;
  border-top: 1px solid #525B60;
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
}