/*======================================
//--//-->   GENERAL STYLES
======================================*/

body {
  background-color: #f5f5f5;
  color: #4e4e4e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1e1e1e;
}

a {
  color: #1e1e1e;
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: #0078ff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.p-r {
  position: relative;
}

.color-a {
  color: #0078ff;
}

.color-d {
  color: #f5f5f5;
}

.color-text-a {
  color: #4e4e4e;
}

.box-shadow,
.paralax-mf,
.service-box,
.work-box,
.card-blog {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.box-shadow-a,
.button:hover {
  box-shadow: 0 0 0 4px #cde1f8;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.display-6 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: 4px;
  overflow: hidden;
}

.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.overlay-mf {
  background-color: #0078ff;
}

.overlay-mf {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .7;
}

.paralax-mf {
  position: relative;
  padding: 8rem 0;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

/*======================================
//--//-->   HOME
======================================*/

.home {
  height: 100vh;
  position: relative;
  color: #fff;
  background-image: url(assets/home_bg.jpg)
}

.home .home-content {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .85;
}

.home .overlay-home {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .9;
}

.home .home-title {
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
}

.home .home-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
}

.home .text-slider-items {
  display: none;
}

.home-single {
  height: 350px;
}

.home-single .home-content {
  margin-top: 30px;
}

.home-single .home-title {
  text-transform: uppercase;
  font-size: 3rem;
}

.home-single .breadcrumb {
  background-color: transparent;
  color: #0078ff;
}

.home-single .breadcrumb .breadcrumb-item:before {
  color: #cde1f8;
}

.home-single .breadcrumb .breadcrumb-item.active {
  color: #cde1f8;
}

.home-single .breadcrumb a {
  color: #fff;
}

.social-icon{
  margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon ul {
  display: flex;
}

.social-icon ul li {
  list-style-type: none;
}

.social-icon ul li a {
  display: block;
  cursor: pointer;
  position: relative;
  color: white;
  background: #000000;
  border-radius: 50%;
  font-size: 20px;
  line-height: 40px;
  height: 40px;
  width: 40px;
  text-align: center;
  margin: 5px 2px;
  transition: .3s;
}

.social-icon ul li a:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0.9);
  transition: .3s;
}

.social-icon ul li a:hover:before {
  filter: blur(3px);
  transform: scale(1.2);
  box-shadow: 0 0 15px whitesmoke;
}

.social-icon ul li a:hover {
  color: whitesmoke;
  box-shadow: 0 0 15px whitesmoke;
  text-shadow: 0 0 15px whitesmoke;
  transform: translate(0, -5px);
}


